$fs:20px;
$col: greenyellow;
.logBtn{
    cursor: pointer;
    padding: 10px;
    align-self: flex-start;
    // background: none;
    // color:whitesmoke;
    // font-size: $fs;
    // &:hover{
    //     color:$col;
    // }
}
